<div class="d-flex justify-content-center ng-scope" style="padding-top:10vh;">
	<div class="d-flex flex-column">
		<div class="d-flex justify-content-center">
			<svg width="500" height="500">
				<circle cx="250" cy="250" r="230" stroke="gray" stroke-width="25" fill="white"></circle>
				<circle cx="180" cy="180" r="50" stroke-width="4" fill="gray"></circle>
				<circle cx="160" cy="160" r="25" stroke-width="4" fill="white"></circle>
				<circle cx="320" cy="180" r="50" stroke-width="4" fill="gray"></circle>
				<circle cx="300" cy="160" r="25" stroke-width="4" fill="white"></circle>
				<g stroke="black" stroke-width="3" fill="black">
					<circle id="pointA" cx="160" cy="370" r="13" fill="gray" stroke="gray"></circle>
					<circle id="pointC" cx="350" cy="370" r="13" fill="gray" stroke="gray"></circle>
				</g>
				<path d="M 160 370 c 40 -100 150 -100 190 0" stroke="gray" stroke-width="30" fill="none"></path>
			</svg>
		</div>
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-center" style="font-size:30px;" ng-bind="title[errorRef]"></div>
			<div class="d-flex justify-content-center" ng-bind="msg1[errorRef]"></div>
			<div class="d-flex justify-content-center" ng-bind="msg2[errorRef]"></div>
			<div class="d-flex justify-content-center" ng-bind="msg3[errorRef]"></div>
		</div>
	</div>
</div>