<div class="modal-container" ng-class="{hidden: !processing}">
	<div class="modal-box">
		<div class="lds-hourglass"></div>
	</div>
</div>
<div class="refer-parent regular-font">
	<table class="refer-header">
		<thead>
			<th>Total</th>
			<th>Expired</th>
			<th>No Action</th>
			<th>Registered</th>
			<th>Can claim</th>
			<th>Awaiting approval</th>
			<th>Awarded</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="refer-container">
		<table>
			<thead>
				<th>#</th>
				<th>Referrer</th>
				<th>Email</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Date</th>
				<th>Status</th>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>